<div class="container">
  <h1>Restaurant: <%= @restaurant.name %></h1></br>
  <p>Address : <%= @restaurant.address %> </p>
  <p>Phone_number: <%= @restaurant.phone_number %> </p>
  <p>Category : <%= @restaurant.category %> </p></br>
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <h1>Reviews</h1>
  <%= link_to "Add a review", reviews_new_path(@restaurant), class: "btn btn-primary" %>
  <% @restaurant.reviews.each do |review| %>
    <p>Content: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p></br>
    <% end %>
</div>

